/* Tree */

.claro .dijitTreeRow .dijitCheckBox {
	position : relative;
	top : -2px;
}

.claro .dijitTreeLabel {
	outline : 0;
}

.claro .dijitTree .feedParam {
	color : #555;
	float : right;
	margin-right : 1em;
}

.claro .dijitTree .filterRules {
	display : block;
	color : #ccc;
	font-size : 10px;
	margin-left : 100px;
}

.claro .dijitTree .filterRules span {
	display : block;
	color : green;
}

#filterDlg_Matches span.filterRule {
	color : green;
}

.claro .dijitTree .filterRules span.inverse,
#filterDlg_Matches span.filterRule.inverse {
	color : red;
}


.claro .dijitTree .labelParam {
	float : right;
	margin-right : 1em;
}

.claro .dijitTree .dijitTreeLabel.filterDisabled,
.claro .dijitTree .labelParam.filterDisabled {
	color : #555;
	text-decoration: line-through;
}

.claro .dijitTreeRow.Error {
	color : red;
}

.claro .dijitTreeRow.Hidden {
	display : none;
}

.claro .dijitTreeNode .loadingNode {
	margin-left : 3px;
	height : 9px;
}

.claro .dijitFolderClosed,
.claro .dijitFolderOpened {
	display : none;
}

.claro .dijitTreeNode .dijitCheckBox {
	margin-left : 4px;
}

.claro .dijitTreeIsRoot > .dijitTreeRow > .dijitTreeExpando {
	margin-left : 5px;
}

.claro .dijitTree .dijitTreeExpando {
	margin-top : 0px;
	opacity : 0.6;
}

.claro .dijitTree .dijitTreeNode {
	padding : 0px;
	border-width : 0px;
}

.claro .dijitTree .dijitTreeRow {
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.claro .dijitTree .dijitTreeRowSelected {
	background : white;
}

.claro #feedTree.dijitTree .dijitTreeRowSelected {
	box-shadow : -1px 0px 2px -1px rgba(0,0,0,0.1);
}

.claro .dijitTree .dijitTreeRowHover {
	background : #f0f0f0;
	border-color : #ddd;
}

.claro .dijitTree .dijitTreeRowSelected {
	background : white;
	border-color : #ddd;
}

.claro .dijitTreeRowSelected .dijitTreeLabel {
	text-shadow : 1px 1px 2px #fff;
}

.claro .dijitTreeRow .dijitTreeExpando {
	background-image: url("../images/treeExpandImages.png");
	position : relative;
	top : -1px;
}

.claro .dijitTreeRow .dijitTreeExpandoLeaf {
	background : none;
} 

/* Toolbar */

.claro .dijitToolbar {
	background : #f5f5f5;
	border-color : #ddd;
	/* text-rendering: optimizelegibility;
	font-family : "Segoe WP Semibold", "Segoe UI Semibold", 
		"Segoe UI Web Semibold", "Segoe UI", "Helvetica Neue",
		Helvetica, Arial, sans-serif; */
}

/* .claro .dijitToolbar {
	text-shadow : 1px 1px 2px #fff;
} */

.claro .dijitDialog .dijitToolbar {
	border : 1px solid #ddd;
}

/* Dialog */

.claro .dijitDialog h2 {
	margin-top : 0px;
	margin-bottom : 4px;
	border-width : 0px;
}

.claro .dijitMenuItemLabel {
	font-size : 13px;
}

/* Checkbox */

.claro .dijitCheckBox {
	background-image : url("../images/untick.png");
	background-color : transparent;
	width : 15px;
	height : 15px;
	margin : 1px;
	opacity : 0.7;
	background-position : center center;	
	transition : opacity 0.25s;
	-webkit-transition : opacity 0.25s;
	/* border : 1px solid #b5bcc7; */
	padding : 1px;
}

 .claro .dijitCheckBox:hover {
	opacity : 1;
}

.claro .dijitCheckBox.dijitCheckBoxDisabled:hover {
	opacity : 0.7;
}

.claro .dijitCheckBox.dijitCheckBoxChecked {
	border-color : #69C671;
	background-image : url("../images/tick.png");
	opacity : 1;
}

/* Various buttons */

.claro .dijitButton.danger .dijitButtonText {
	color: #ffffff;
}

.claro .dijitButton.danger {
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #da4f49;
	*background-color: #bd362f;
	background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
	background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
	background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
	background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
	background-repeat: repeat-x;
	border-color: #bd362f #bd362f #802420;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.claro .dijitButton.dijitButtonDisabled.danger,
.claro .dijitButton.dijitButtonActive.danger,
.claro .dijitButton.dijitButtonHover.danger,
.claro .dijitButton.dijitFocused.danger {
	color: #ffffff;
	background-color: #bd362f;
	*background-color: #a9302a;
}

.claro .dijitButton.dijitButtonActive.danger {
	background-color: #942a25 \9;
}

.claro .dijitDropDownButton {
	margin : 0px;
}

.claro .dijitDropDownButton .dijitButtonNode {
	padding : 0px;
}

.claro .dijitButton.dijitButtonActive.danger {
	color: rgba(255, 255, 255, 0.75);
}

.claro .dijitButton .dijitButtonNode,
.claro .dijitDropDownButton .dijitButtonNode,
.claro .dijitComboButton .dijitButtonNode, 
.claro .dijitToolbar .dijitDropDownButton .dijitButtonNode,
.claro .dijitToolbar .dijitComboButton,
.claro .dijitToolbar .dijitSelect.dijitDownArrowButton .dijitButtonNode,
.claro .dijitToolbar .dijitComboButton .dijitButtonNode {
	background : none;
	border-color : transparent;
	box-shadow : none;
}

button,
input[type="submit"] {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size : 14px;
}

button,
input[type="submit"],
.claro .dijitButton,
.claro .dijitDropDownButton .dijitDownArrowButton,
.claro .dijitComboButton {
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

button:hover,
button:focus,
button:active,
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="submit"]:active,
.claro .dijitButton:hover,
.claro .dijitButton:focus,
.claro .dijitButton:active,
.claro .dijitDropDownButton .dijitDownArrowButton:hover,
.claro .dijitDropDownButton .dijitDownArrowButton:focus,
.claro .dijitDropDownButton .dijitDownArrowButton:active,
.claro .dijitComboButton:hover,
.claro .dijitComboButton:focus,
.claro .dijitComboButton:active,
.claro .dijitButton.dijitButtonDisabled {
  color: #333333;
  background-color: #e6e6e6;
}

button:active,
input[type="submit"]:active,
.claro .dijitButton:active,
.claro .dijitDropDownButton .dijitDownArrowButton:active,
.claro .dijitComboButton:active {
	background-color: #cccccc \9;
}

.claro .dijitToolbar .dijitButton,
.claro .dijitToolbar .dijitButton.dijitHover,
.claro .dijitToolbar .dijitComboButton,
.claro .dijitToolbar .dijitDropDownButton .dijitDownArrowButton,
.claro .dijitToolbar .dijitComboButton.dijitHover {
	background : none;
	border-color : transparent;
	box-shadow : none;
	padding : 0px;
	margin : 0px;
	line-height : auto;
	text-shadow : none;
}

.claro .dijitToolbar .dijitDropDownButton .dijitButtonText,
.claro .dijitToolbar .dijitDownArrowButton .dijitButtonText,
.claro .dijitToolbar .dijitComboButton .dijitButtonText {
	padding : 0px;
}

.claro .dijitToolbar .dijitDropDownButton .dijitButtonNode {
	border-radius : 4px;
}

.claro .dijitToolbar .dijitButton.dijitHover,
.claro .dijitToolbar .dijitDropDownButton.dijitHover .dijitButtonNode,
.claro .dijitToolbar .dijitComboButton.dijitHover {
	border-color : #ccc;
}

.claro .dijitToolbar .dijitButton.dijitHover .dijitButtonNode,
.claro .dijitToolbar .dijitButton.dijitButtonActive .dijitButtonNode {
	background : none;
}

.claro .dijitToolbar .dijitButton .dijitButtonContents,
.claro .dijitToolbar .dijitDropDownButton .dijitButtonContents,
.claro .dijitToolbar .dijitComboButton .dijitButtonContents {
	font-size : 13px;
}

button:hover,
button:focus,
input[type="submit"]:hover,
input[type="submit"]:focus,
.claro .dijitButton:hover,
.claro .dijitDropDownButton .dijitDownArrowButton:hover,
.claro .dijitToolbar .dijitButton:hover .dijitButtonNode,
.claro .dijitToolbar .dijitButton.dijitHover .dijitButtonNode,
.claro .dijitButton:focus,
.claro .dijitComboButton:hover,
.claro .dijitComboButton:focus {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}

button:focus,
input[type="submit"]:focus,
.claro .dijitButton:focus,
.claro .dijitDropDownButton .dijitDownArrowButton:focus,
.claro .dijitComboButton:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

button:active,
input[type="submit"]:active,
.claro .dijitButton:active,
.claro .dijitComboButton:active,
.claro .dijitToolbar .dijitDropDownButton.dijitOpened,
.claro .dijitToolbar .dijitComboButton.dijitOpened,
.claro .dijitToolbar .dijitButton.dijitButtonActive .dijitButtonNode {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

input[type="submit"][disabled],
button[disabled],
.claro .dijitButton[disabled],
.claro .dijitDropDownButton .dijitDownArrowButton[disabled],
.claro .dijitButton.dijitButtonDisabled,
.claro .dijitComboButton.dijitButtonDisabled {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.claro .dijitButton .dijitButtonContents,
.claro .dijitDropDownButton .dijitButtonContents,
.claro .dijitComboButton .dijitButtonContents {
	font-size : 14px;
	font-weight : normal;
	line-height : 20px;
}

.claro .dijitButton.small .dijitButtonText {
	font-size : 11px;
}

.claro .dijitMenu {
	border-color: rgba(82, 168, 236, 0.8);
}

.claro .dijitMenu .dijitMenuItem.dijitHover,
.claro .dijitMenu .dijitMenuItem.dijitFocused,
.claro .dijitMenuTable .dijitMenuItem.dijitHover .dijitMenuItemLabel,
.claro .dijitMenuTable .dijitMenuItem.dijitFocused .dijitMenuItemLabel {
	background :  rgb(82, 168, 236);
	color : white;
	border-color : rgba(82, 168, 236, 0.8);
}

.claro .dijitButton .dijitButtonNode,
.claro .dijitComboButton .dijitButtonNode {
	padding : 0px;
}

/* Other stuff */

/* .claro .dijitAccordionTitleFocus {
	text-shadow : 1px 1px 2px #fff;
} 

.claro .dijitAccordionTitle {
	text-rendering: optimizelegibility;
	font-family : "Segoe WP Semibold", "Segoe UI Semibold", 
		"Segoe UI Web Semibold", "Segoe UI", "Helvetica Neue",
		Helvetica, Arial, sans-serif;
} */


.claro .dijitAccordionTitle.dijitAccordionTitleHover,
.claro .dijitAccordionTitle.dijitAccordionTitleFocused {
	background : white;
	transition : background 0.25s;
}
.claro .dijitAccordionTitle {
	background : #f0f0f0;
	transition : background 0.25s;
}

.claro .dijitAccordionInnerContainer.dijitAccordionInnerContainerSelected,
.claro .dijitAccordionTitle.dijitAccordionTitleSelected {
	background : #0088cc;
	transition : background 0.25s;
}

.claro .dijitAccordionTitle.dijitAccordionTitleSelected .dijitAccordionText {
	color : white;
}

.claro .dijitAccordionInnerContainer.dijitAccordionInnerContainerSelected {
	border-color : #0088cc;
}

.claro .dijitAccordionContainer .dijitAccordionChildWrapper {
	border-color : #ddd;
}

/* Tabs */

.claro .dijitTabInner.dijitTab {
	background : #f0f0f0;
}

.claro .dijitTabContent {
	background : #eee;
}

.claro .dijitTabContent.dijitTabChecked,
.claro .dijitTabContent.dijitTabHover,
.claro .dijitTabContent.dijitFocused {
	background : white;
}

.claro .dijitTabPaneWrapper, 
.claro .dijitTabContainerTop-tabs,
.claro .dijitTab,
.claro .dijitAccordionInnerContainer {
	border-color : #ddd;
}

/* Text fields & selects */

.claro .dijitComboBox .dijitArrowButton,
.claro .dijitSelect .dijitArrowButton {
	background : transparent;
	border-color : transparent;
}

.claro .dijitSelect .dijitArrowButton .dijitArrowButtonInner {
	margin-right : 5px;
	float  :right;
}

.claro select,
.claro .dijitDownArrowButton.dijitSelect {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-bottom : 4px;

}

.claro .dijitSelect .dijitButtonContents {
	display: inline-block;
	height: 20px;
	padding: 4px 6px;
	font-size: 14px;
	line-height: 20px;
	color: #555555;
	vertical-align: middle;
	border-width : 0px;
}

.claro select,
.claro textarea,
.claro .input.input-text,
.claro .dijitTextBox {
	display: inline-block;
	height: 20px;
	padding: 4px 6px;
	font-size: 14px;
	line-height: 20px;
	color: #555555;
	vertical-align: middle;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-bottom : 4px;
}
.claro textarea {
	height : auto;
}

.claro select,
.claro .input.input-text {
	height : 30px;
}

.claro textarea,
.claro select,
.claro .input.input-text,
.claro .dijitTextBox,
.claro .dijitSelect {
	background-color: #ffffff;
	border: 1px solid #cccccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
}

.claro select:focus,
.claro .input.input-text:focus,
.claro .dijitTextBox.dijitFocused,
.claro .dijitSelect.dijitFocused {
	border-color: rgba(82, 168, 236, 0.8);
	outline: 0;
	outline: thin dotted \9;
	/* IE6-9 */

	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

.claro .dijitError .dijitValidationContainer {
	padding : 0px;
	width : 13px;
	border-width : 1px;
	display : none;
}

.claro .dijitSelect.dijitSelectDisabled  {
	background-color: #eeeeee;
}

.claro .dijitSelect.dijitSelectDisabled .dijitSelectLabel {
	cursor: not-allowed;
}

.claro .dijitTextBox.dijitTextBoxDisabled,
.claro .dijitTextBox.dijitTextBoxDisabled .dijitInputInner,
.claro .dijitTextBox.dijitReadOnly,
.claro .dijitTextBox.dijitReadOnly .dijitInputInner {
	cursor: not-allowed;
	background-color: #eeeeee;
}

.claro .dijitToolbar .dijitDownArrowButton.dijitSelect {
	border-color : rgba(0,0,0,0.1);
}

.claro .dijitToolbar .dijitDownArrowButton.dijitSelect .dijitButtonContents {
	padding : 2px 2px 0px 4px;
}

.claro .dijitToolbar .dijitDownArrowButton.dijitSelect {
	margin : 0px;
}

.claro .dijitToolbar .dijitTextBox {
	padding : 0px;
	margin-bottom : 0px;
	border-radius : 0px;
}

/* dialog */

.claro .dijitDialog {
	border-radius : 6px;

}

.claro .dijitDialog .dijitDialogCloseIcon {
	margin-top : 5px;
}

.claro .dijitDialog .dijitDialogTitleBar {
	background : white;
	padding : 8px;
	font-weight : 600;
	color : #555;
	font-size : 16px;
	text-rendering: optimizelegibility;
	font-family : "Segoe WP Semibold", "Segoe UI Semibold",
	"Segoe UI Web Semibold", "Segoe UI", Ubuntu, "DejaVu Sans", "Helvetica Neue",
	Helvetica, Arial, sans-serif;
}

.claro .dijitDialog .dijitDialogPaneContent {
	border-color : #ddd;
	padding : 10px;
}

.claro .dijitProgressBar.dijitProgressBarEmpty {
	background : #ddd;
	border-color : #0088cc;
}

.claro .dijitProgressBar.dijitProgressBarEmpty .dijitProgressBarFull .dijitProgressBarTile {
	background : rgb(82, 168, 236);

}

.claro .dijitProgressBar .dijitProgressBarLabel {
	color : white;
}


