@import "default.php";

body.claro.ttrss_main #feeds-holder {
	background : #222;
  	border-color : #666;
	border-left-width : 1px;
}

body.claro.ttrss_main #headlines-frame {
	border-color : #ddd;
}

body.claro.ttrss_main div.whiteBox {
	border-color : #666;
}

body.claro.ttrss_main #content-insert {
	background : #333;
}

body.claro.ttrss_main #feedTree .dijitTreeRow {
	color : #ccc ! important;
}

body.claro.ttrss_main .dijitTree .dijitTreeRowHover {
	background : #444;
	border-color : #666;
}

body.claro.ttrss_main .dijitTree .dijitTreeRowSelected {
	background : #555;
	border-color : #666 ! important;
}

body.claro.ttrss_main .dijitTreeRowSelected .dijitTreeLabel {
	text-shadow : none;
}

body.claro.ttrss_main #feedTree .counterNode.aux {
	background : #555;
	color : #999;
	border-color : #333;
}

body.claro.ttrss_main #feedTree .counterNode {
	border : 1px solid #6280AD;
	color : white;
	background : #6280AD;
}

body.claro.ttrss_main #headlines-frame {
	background : #333;
	color : #ccc;
}

body.claro.ttrss_main #main-toolbar {
	background : #333;
	border-color : #666;
}

body.claro.ttrss_main #main-toolbar .dijitButtonText {
	color : #ddd;
}

body.claro.ttrss_main #main-toolbar .dijitSelect {
	border-color : #666;
}


body.claro.ttrss_main #main,
body.claro.ttrss_main #overlay {
	background : #333;
	color : #ccc;
}

body.claro.ttrss_main .hlFeed a {
	color : white;
}

body.claro.ttrss_main div.cdm.expanded div.cdmFooter,
body.claro.ttrss_main div.cdm.expandable div.cdmFooter {
	border-color : #666;
	color : #ccc;
}

body.claro.ttrss_main div.cdm.expandable.Selected {
	background : #6280AD;
}

body.claro.ttrss_main div.cdm.expanded.Unread div.cdmHeader a.title,
body.claro.ttrss_main div.cdm.expandable.Unread a.title {
	color : #ccc;
}

body.claro.ttrss_main div.cdm.expanded div.cdmHeader a.title,
body.claro.ttrss_main div.cdm.expandable a.title {
	color : #aaa;
}

body.claro.ttrss_main .cdm.expandable.active,
body.claro.ttrss_main .cdm.expandable {
	border-color : #666;
	background : transparent;
}

body.claro.ttrss_main .cdm.active {
	background : transparent ! important;
}

body.claro.ttrss_main .cdm .cdmContentInner,
body.claro.ttrss_main .cdm .titleWrap {
	color : #bbb;
}

#content-insert blockquote, #headlines-frame blockquote, .dijitContentPane blockquote {
	color : #999;
	border-color : #666;
}

#content-insert code, #headlines-frame code, .dijitContentPane code {
	color : #009900;
}

#content-insert pre, #headlines-frame pre, .dijitContentPane pre {
	color : #999;
	background : black;
}

body.claro.ttrss_main .dijitInputField.dijitButtonText {
	background : #333;
}

body.claro.ttrss_main .cdm .cdmContentInner img,
body.claro.ttrss_main .cdm img.tinyFeedIcon,
body.claro.ttrss_main .cdm .cdmFooter img,
body.claro.ttrss_main #feedTree img,
body.claro.ttrss_main .postContent img {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); // firefox lol
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
}

body.claro.ttrss_main .hl img.hlScorePic {
	opacity : 0.5;
}

body.claro.ttrss_main .cdm .cdmFooter img {
	opacity : 0.6;
}

body.claro.ttrss_main #floatingTitle {
	background : #333;
	border-color : #666;
}

body.claro.ttrss_main #floatingTitle a.title {
	color : #ccc;
}

body.claro.ttrss_main .dijitMenu,
body.claro.ttrss_main .dijitMenuTable,
body.claro.ttrss_main .dijitMenu .dijitMenuItem td {
	border-color : #666;
	background : #666;
}

body.claro.ttrss_main .dijitMenu .dijitMenuItemSelected,
body.claro.ttrss_main .dijitMenu .dijitMenuItemSelected td {
	background : black;
	color : white;
}

body.claro.ttrss_main .hl {
	border-color : #666;
}

body.claro.ttrss_main .hl .hlTitle a {
	color : #ccc;
}

body.claro.ttrss_main .hl.Selected,
body.claro.ttrss_main .hl.active {
	background : #6280AD ! important;
}

body.claro.ttrss_main .postHeader {
	background : #333;
	border-color : #666;
}


