@import "../css/default.css";
:root {
  --bg-main: #333;
  --border-main: #666;
  --border-dark: #222;
  --bg-panel: #222;
  --fg-main: #999;
  --fg-light: #ccc;
  --bg-active: #2a89bc;
}
/* main layout overrides */
body.flat.ttrss_main.ttrss_index {
  /* misc */
  /* feeds */
  /* headlines */
  /* toolbar */
  /* other dijits */
}
body.flat.ttrss_main.ttrss_index #feeds-holder {
  background: var(--bg-panel);
  box-shadow: inset -1px 0px 2px -1px var(--border-main);
}
body.flat.ttrss_main.ttrss_index #headlines-frame,
body.flat.ttrss_main.ttrss_index div.whiteBox {
  border-color: var(--border-main);
}
body.flat.ttrss_main.ttrss_index #main,
body.flat.ttrss_main.ttrss_index #overlay {
  background: var(--bg-main);
  color: var(--fg-main);
}
body.flat.ttrss_main.ttrss_index #content-insert {
  background: var(--bg-main);
}
body.flat.ttrss_main.ttrss_index #content-insert_splitter {
  border-color: var(--border-main);
  background: var(--bg-panel);
}
body.flat.ttrss_main.ttrss_index #feeds-holder_splitter {
  border-color: var(--border-main);
  background: var(--bg-main);
}
body.flat.ttrss_main.ttrss_index .insensitive {
  color: var(--fg-light);
}
body.flat.ttrss_main.ttrss_index hr,
body.flat.ttrss_main.ttrss_index h1,
body.flat.ttrss_main.ttrss_index h2,
body.flat.ttrss_main.ttrss_index h3 {
  border-color: var(--border-dark);
}
body.flat.ttrss_main.ttrss_index code {
  color: #c90 ! important;
}
body.flat.ttrss_main.ttrss_index pre {
  color: var(--fg-main);
  background: var(--bg-panel) ! important;
}
body.flat.ttrss_main.ttrss_index #feeds-holder #feedTree .dijitTreeRow {
  color: var(--fg-light) ! important;
}
body.flat.ttrss_main.ttrss_index #feeds-holder #feedTree.dijitTree .dijitTreeRowHover {
  background: var(--bg-panel);
  border-color: var(--border-main) transparent;
}
body.flat.ttrss_main.ttrss_index #feeds-holder #feedTree.dijitTree .dijitTreeRowSelected {
  background: var(--bg-main);
  border-color: var(--bg-main) transparent;
}
body.flat.ttrss_main.ttrss_index #feeds-holder #feedTree .dijitTreeRowSelected .dijitTreeLabel {
  text-shadow: none;
}
body.flat.ttrss_main.ttrss_index #feeds-holder #feedTree .counterNode.aux {
  background: var(--bg-panel);
  color: var(--fg-main);
  border-color: var(--bg-main);
}
body.flat.ttrss_main.ttrss_index #headlines-frame {
  background: var(--bg-main);
  color: var(--fg-light);
}
body.flat.ttrss_main.ttrss_index #headlines-frame i.material-icons,
body.flat.ttrss_main.ttrss_index #headlines-frame .dijitCheckBox {
  opacity: 0.7;
}
body.flat.ttrss_main.ttrss_index #headlines-frame .hl {
  border-color: var(--border-dark);
}
body.flat.ttrss_main.ttrss_index #headlines-frame .hl:not(.Selected):not(.active) .title a {
  color: var(--fg-main);
}
body.flat.ttrss_main.ttrss_index #headlines-frame .hl.Unread:not(.Selected):not(.active) .title a {
  color: var(--fg-light);
}
body.flat.ttrss_main.ttrss_index #toolbar-frame #toolbar {
  background: var(--bg-panel);
  border-color: var(--border-dark);
}
body.flat.ttrss_main.ttrss_index #toolbar-frame #toolbar .dijitButtonText {
  color: var(--fg-light);
}
body.flat.ttrss_main.ttrss_index #toolbar-frame #toolbar .dijitSelect,
body.flat.ttrss_main.ttrss_index #toolbar-frame #toolbar .dijitDropDownButton .dijitButtonNode,
body.flat.ttrss_main.ttrss_index #toolbar-frame #toolbar .dijitComboButton .dijitButtonNode,
body.flat.ttrss_main.ttrss_index #toolbar-frame #toolbar .dijitSelect .dijitButtonText {
  background: var(--bg-panel);
}
body.flat.ttrss_main.ttrss_index .hl .feed a,
body.flat.ttrss_main.ttrss_index .cdm .feed a {
  color: white;
}
body.flat.ttrss_main.ttrss_index .post .header {
  background: var(--bg-panel);
  border-color: var(--border-main);
}
body.flat.ttrss_main.ttrss_index .post .content,
body.flat.ttrss_main.ttrss_index .cdm .content-inner {
  color: var(--fg-main);
}
body.flat.ttrss_main.ttrss_index .post .content img,
body.flat.ttrss_main.ttrss_index .cdm .content-inner img,
body.flat.ttrss_main.ttrss_index .post .content video,
body.flat.ttrss_main.ttrss_index .cdm .content-inner video {
  transition: opacity 0.5s linear, filter 0.5s linear;
}
body.flat.ttrss_main.ttrss_index .post .content img:not(:hover),
body.flat.ttrss_main.ttrss_index .cdm .content-inner img:not(:hover),
body.flat.ttrss_main.ttrss_index .post .content video:not(:hover),
body.flat.ttrss_main.ttrss_index .cdm .content-inner video:not(:hover) {
  opacity: 0.5;
  filter: grayscale(80%);
}
body.flat.ttrss_main.ttrss_index div.cdm div.footer {
  border-color: var(--border-dark);
  color: var(--fg-light);
}
body.flat.ttrss_main.ttrss_index div.cdm .header a.title {
  color: var(--fg-main);
}
body.flat.ttrss_main.ttrss_index div.cdm.Unread .header a.title {
  color: var(--fg-light);
}
body.flat.ttrss_main.ttrss_index .cdm.expandable.active .header a.title,
body.flat.ttrss_main.ttrss_index .cdm.expanded.active .header a.title {
  color: #2a89bc;
}
body.flat.ttrss_main.ttrss_index #headlines-frame .cdm {
  border-color: var(--border-dark);
}
body.flat.ttrss_main.ttrss_index #headlines-frame .cdm .header .author {
  color: var(--fg-main);
}
body.flat.ttrss_main.ttrss_index #headlines-frame .cdm.expandable {
  background: var(--bg-main) ! important;
}
body.flat.ttrss_main.ttrss_index #headlines-frame .cdm.expandable.Selected {
  background: var(--bg-active) ! important;
}
body.flat.ttrss_main.ttrss_index #headlines-frame .cdm.expandable.active {
  background: var(--bg-main);
}
body.flat.ttrss_main.ttrss_index #headlines-frame .cdm.expanded.active {
  background: var(--bg-main);
}
body.flat.ttrss_main.ttrss_index #content-insert blockquote,
body.flat.ttrss_main.ttrss_index #headlines-frame blockquote,
body.flat.ttrss_main.ttrss_index .dijitContentPane blockquote {
  color: var(--fg-main);
  border-color: var(--border-main);
}
body.flat.ttrss_main.ttrss_index .dijitInputField.dijitButtonText {
  background: var(--bg-main);
}
body.flat.ttrss_main.ttrss_index .cdm .footer img {
  opacity: 0.6;
}
body.flat.ttrss_main.ttrss_index #floatingTitle {
  background: var(--bg-panel);
  border-color: var(--border-main);
}
body.flat.ttrss_main.ttrss_index #floatingTitle * {
  color: var(--fg-light) ! important;
}
body.flat.ttrss_main.ttrss_index .dijitMenu,
body.flat.ttrss_main.ttrss_index .dijitMenuTable,
body.flat.ttrss_main.ttrss_index .dijitMenu .dijitMenuItem td {
  border-color: var(--bg-panel);
  background: var(--bg-panel);
  color: var(--fg-main);
}
body.flat.ttrss_main.ttrss_index .dijitMenu .dijitMenuItemSelected,
body.flat.ttrss_main.ttrss_index .dijitMenu .dijitMenuItemSelected td {
  background: black;
  color: white;
}
body.flat.ttrss_main.ttrss_index .dijitMenu .dijitMenuSeparator * {
  border-bottom-color: var(--border-dark) ! important;
}
body.flat.ttrss_main.ttrss_index .article-note {
  background: var(--bg-panel);
  border-color: #9a8c59;
}
body.flat.ttrss_main.ttrss_index ::-webkit-scrollbar {
  width: 4px;
}
body.flat.ttrss_main.ttrss_index ::-webkit-scrollbar-thumb {
  background-color: var(--border-main);
}
body.flat.ttrss_main.ttrss_index ::-webkit-scrollbar-track {
  background-color: var(--bg-panel);
}
/*# sourceMappingURL=night.css.map */