@import "default.php";

:root {
	--bg-main : #333;
	--border-main : #666;
	--border-dark : #222;
	--bg-panel : #222;
	--fg-main: #999;
	--fg-light : #ccc;
	--bg-active: #2a89bc;
}

body.claro.ttrss_index #feeds-holder {
	background : var(--bg-panel);
	box-shadow : inset -1px 0px 2px -1px var(--border-main);
}

body.claro.ttrss_index #headlines-frame,
body.claro.ttrss_index div.whiteBox {
	border-color : var(--border-main);
}

body.claro.ttrss_index #content-insert {
	background : var(--bg-main);
}

body.claro.ttrss_index #feedTree .dijitTreeRow {
	color : var(--fg-light) ! important;
}

body.claro.ttrss_index .dijitTree .dijitTreeRowHover {
	background : var(--bg-panel);
	border-color : var(--border-main) transparent;
}

body.claro.ttrss_index #feeds-holder .dijitTree#feedTree .dijitTreeRowSelected {
	background : var(--bg-main);
	border-color : var(--bg-main) transparent;
}

body.claro.ttrss_index .dijitTreeRowSelected .dijitTreeLabel {
	text-shadow : none;
}

body.claro.ttrss_index #feeds-holder #feedTree .counterNode.aux {
	background : var(--bg-panel);
	color : var(--fg-main);
	border-color : var(--bg-main);
}

body.claro.ttrss_index #headlines-frame {
	background : var(--bg-main);
	color : var(--fg-light);
}

body.claro.ttrss_index #main-toolbar {
	background : var(--bg-panel);
	border-color : var(--border-dark);
}

body.claro.ttrss_index #main-toolbar .dijitButtonText {
	color : var(--fg-light);
}

body.claro.ttrss_index #main-toolbar .dijitSelect,
body.claro.ttrss_index #main-toolbar .dijitSelect .dijitButtonText {
	background : black;
}

body.claro.ttrss_index #main,
body.claro.ttrss_index #overlay {
	background : var(--bg-main);
	color : var(--fg-main);
}

body.claro.ttrss_index .hl .feed a,
body.claro.ttrss_index .cdm .feed a {
	color : white;
}

body.claro.ttrss_index div.cdm div.footer {
	border-color : var(--border-dark);
	color : var(--fg-light);
}

body.claro.ttrss_index div.cdm .header a.title {
	color : var(--fg-main);
}

body.claro.ttrss_index div.cdm.Unread .header a.title {
	color : var(--fg-light);
}

body.claro.ttrss_index .cdm.expandable.active .header a.title,
body.claro.ttrss_index .cdm.expanded.active .header a.title {
	color : #2a89bc;
}

body.claro.ttrss_index #headlines-frame .cdm {
	border-color : var(--border-dark);
}

body.claro.ttrss_index #headlines-frame .cdm .header .author {
	color : var(--fg-main);
}

body.claro.ttrss_index #headlines-frame .cdm.expandable {
	background : var(--bg-main) ! important;
}

body.claro.ttrss_index #headlines-frame .cdm.expandable.Selected {
	background : var(--bg-active) ! important;
}

body.claro.ttrss_index #headlines-frame .cdm.expandable.active {
	background : var(--bg-main);
}

body.claro.ttrss_index #headlines-frame .cdm.expanded.active {
	background : var(--bg-main);
}

body.claro.ttrss_index #content-insert blockquote,
body.claro.ttrss_index #headlines-frame blockquote,
body.claro.ttrss_index .dijitContentPane blockquote {
	color : var(--fg-main);
	border-color : var(--border-main);
}

body.claro.ttrss_index #content-insert code,
body.claro.ttrss_index #headlines-frame code,
body.claro.ttrss_index .dijitContentPane code {
	color : #009900;
}

body.claro.ttrss_index #content-insert pre,
body.claro.ttrss_index #headlines-frame pre,
body.claro.ttrss_index.dijitContentPane pre {
	color : var(--fg-main);
	background : black;
}

body.claro.ttrss_index .dijitInputField.dijitButtonText {
	background : var(--bg-main);
}

body.claro.ttrss_index .cdm .footer img {
	opacity : 0.6;
}

body.claro.ttrss_index #floatingTitle {
	background : var(--bg-panel);
	border-color : var(--border-main);
}

body.claro.ttrss_index #floatingTitle * {
	color : var(--fg-light) ! important;
}

body.claro.ttrss_index .dijitMenu,
body.claro.ttrss_index .dijitMenuTable,
body.claro.ttrss_index .dijitMenu .dijitMenuItem td {
	border-color : var(--border-main);
	background : var(--border-main);
}

body.claro.ttrss_index .dijitMenu .dijitMenuItemSelected,
body.claro.ttrss_index .dijitMenu .dijitMenuItemSelected td {
	background : black;
	color : white;
}

body.claro.ttrss_index #headlines-frame .hl {
	border-color : var(--border-dark);
}

body.claro.ttrss_index #headlines-frame .hl:not(.Selected):not(.active) .title a {
	color : var(--fg-main);
}

body.claro.ttrss_index #headlines-frame .hl.Unread:not(.Selected):not(.active) .title a {
	color : var(--fg-light);
}

body.claro.ttrss_index .post .header {
	background : var(--bg-panel);
	border-color : var(--border-main);
}

body.claro.ttrss_index .post .content,
body.claro.ttrss_index .cdm .content-inner {
	color : var(--fg-main);
}

body.claro.ttrss_index .articleNote {
	background : var(--bg-panel);
	border-color : #9a8c59;
}

body.claro.ttrss_index .post .content img,
body.claro.ttrss_index .cdm .content-inner img,
body.claro.ttrss_index .post .content video,
body.claro.ttrss_index .cdm .content-inner video {
	transition : opacity 0.5s linear, filter 0.5s linear;
}

body.claro.ttrss_index .post .content img:not(:hover),
body.claro.ttrss_index .cdm .content-inner img:not(:hover),
body.claro.ttrss_index .post .content video:not(:hover),
body.claro.ttrss_index .cdm .content-inner video:not(:hover) {
	opacity : 0.5;
	filter: grayscale(80%);
}

body.claro.ttrss_index #content-insert_splitter {
	border-color : var(--border-main);
	background : var(--bg-panel);
}

body.claro.ttrss_index #feeds-holder_splitter {
	border-color : var(--border-main);
	background : var(--bg-main);
}

body.claro.ttrss_index .insensitive {
	color : var(--fg-light);
}

body.claro.ttrss_index hr,
body.claro.ttrss_index h1,
body.claro.ttrss_index h2,
body.claro.ttrss_index h3 {
	border-color : var(--border-dark);
}

::-webkit-scrollbar {
	width: 4px;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(255,255,255,0.5);
}

::-webkit-scrollbar-track {
	background-color:rgba(255,255,255,0.2);
}
